.products{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    .search-items{
        padding: 10px;
        width: 40%;
        outline: none;
    }
    .category-select{
        padding: 10px;
        font-size: 14px;
        margin-left: 10px;
    }
}
