.card{
    width: 250px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    .img{
        img{
            width: 100%;
        }
    }
    .detail{
        line-height: 1px;
        .title{
            color: lightseagreen;
        }
        .model{

        }
    }
}