
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: darkcyan;
    .brand{
        font-size: 30px;
        font-weight: 600;
        color: rgb(250, 250, 250);
    }
    
    .nav_links{
        ul{
            display: flex;
            gap: 20px;
            list-style-type: none;
            li{
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
    .cart-item-no{
        color: orangered;
        background-color: white;
        padding: 5px;
        border-radius: 5px;
    }
}